
<div class="navbar" ng-controller="NavbarController">
    <div class="nav-left">
        <a class="nav-link-logo" href="/"><img src="assets/logo.png" alt="Logo" style="height:50px;"></a>
        <a class="nav-link-logo-mobile" href="/"><img src="assets/logo.png" alt="Logo" style="height:120px;"></a>
    </div>
    <div class="nav-right-desktop">
        <div class="nav-dropdown" style="padding: 0 10px;border-radius: 4px;">
            <button class="nav-link" ng-click="toggleDropdown()">SERVICES</button>
            <div class="nav-dropdown-content" ng-show="dropdownVisible">
                <a class="nav-dropdown-link" ng-click="navlinkClicked()" href="#!/service-tattoo-removal">TATTOO REMOVAL</a>
                <a class="nav-dropdown-link" ng-click="navlinkClicked()" href="#!/service-pmu">PERMANENT MAKEUP</a>
                <a class="nav-dropdown-link" ng-click="navlinkClicked()" href="#!/service-hair-removal-men">HAIR REMOVAL MEN</a>
                <a class="nav-dropdown-link" ng-click="navlinkClicked()" href="#!/service-hair-removal-women">HAIR REMOVAL WOMEN</a>
            </div>
        </div>
        <a class="nav-link" href="#!/contact">CONTACT</a>
    </div>

    <div class="nav-right-mobile">
        <div class="hamburger-box" ng-click="toggleMobileMenu()">
            <img class="hamburger-icon" src="assets/hamburger.png" alt="Logo">
        </div>
        <div class="nav-mobile-content" ng-show="mobileMenuVisible">
            <a class="nav-link" ng-click="navlinkClicked()" href="#!/service-tattoo-removal">Tattoo Removal</a>
            <a class="nav-link" ng-click="navlinkClicked()" href="#!/service-pmu">Permanent Makeup</a>
            <a class="nav-link" ng-click="navlinkClicked()" href="#!/service-hair-removal-men">Hair Removal Men</a>
            <a class="nav-link" ng-click="navlinkClicked()" href="#!/service-hair-removal-women">Hair Removal Women</a>
            <a class="nav-link" ng-click="navlinkClicked()" href="#!/contact">Contact Us</a>
            <!-- <a class="nav-link-logo" href="/"><img src="assets/logo.png" alt="Logo"></a> -->
        </div>
    </div>

</div>
