<h1 style="color: #704f61; text-align: center;text-transform: uppercase;">Contact Us</h1>

<div class="contact-container">
    <div class="contact-left">
        <p><strong>PHONE NUMBER or WhatsApp?</strong><br>416-786-1101</p>
        <p><strong>EMAIL</strong><br>Info@Esteline</p>
        <p><strong>HOURS</strong><br>Mon-Thur: 10am - 8pm<br>Fri-Sun: 10am - 4pm</p>
        <p><strong>ADDRESS</strong><br>4646 Dufferin St. Unit 3, Toronto ON<br>(parking & entrance at the back of the building)</p>
    </div>
    <div class="contact-right">
        <h2 class="map-heading">MAP</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.9305304771433!2d-79.47185732309823!3d43.7743008710968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2de26958a78b%3A0x976ee57c1e1ee97c!2s4646%20Dufferin%20St%20%233%2C%20North%20York%2C%20ON%20M3H%205S4!5e0!3m2!1sen!2sca!4v1706139989413!5m2!1sen!2sca" width="800" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- Map content or placeholder can be added here -->
    </div>
</div>
