
<div class="service-hairRemMen-section-one">
    <div class="service-hairRemMen-section-one-heading-box">
        <a class="nav-link-logo" href="/"><img src="assets/logo-purple.png" alt="Logo" style="height:100px;"></a>
        <h2 class="service-hairRemMen-section-one-main-heading">Laser Hair Removal For Men</h2>
    </div>

    <div class="service-hairRemMen-section-one-content-box">
        <div class="service-hairRemMen-section-one-text-box"> 

            <p>&nbsp Are you tired of the never-ending battle with unwanted hair? Say goodbye to razors, waxing appointments, and constant grooming with our cutting-edge Laser Hair Removal for Men!</p>

            <p>&nbsp Imagine a life free from the hassle of shaving and waxing, where you can confidently flaunt your smooth, hair-free skin. </p>

            <p>&nbsp Our expert team utilizes advanced laser technology to target and eliminate unwanted hair on your back, chest, shoulders, abdomen, and even facial areas, delivering long-lasting results. </p>

            <p>&nbsp No more ingrown hairs, stubble, or irritated skin! With our safe and effective laser hair removal, you'll experience the ultimate convenience and lasting satisfaction. </p>

            <p>&nbsp Don't wait—take the first step towards a hair-free, carefree life today. Say hello to a smoother, more confident you!</p>

        </div>
        <div class="service-hairRemMen-section-one-img-box">
            <img class="service-hairRemMen-section-one-content-img" src="assets/hair-removal-men-1.png" alt="hair-removal-men-1" style="width:200px;height:300px;object-fit: cover;">
            <img class="service-hairRemMen-section-one-content-img" src="assets/hair-removal-men-2.png" alt="hair-removal-men-2" style="width:300px;height:400px;object-fit: cover;">
            <img class="service-hairRemMen-section-one-content-img" src="assets/hair-removal-men-3.png" alt="hair-removal-men-3" style="width:200px;height:300px;object-fit: cover;padding-bottom:100px;">
        </div>
    </div>
</div>

<div class="service-hairRemMen-section-two">
    <h2  class="service-hairRemMen-section-two-main-heading">Body areas that can be treated</h2>
    <div class="service-hairRemMen-section-two-main-content-box">
        <div class="service-hairRemMen-section-two-content-img-box">
            <img class="service-hairRemMen-section-two-main-content-img" src="assets/hair-removal-men-4.png" alt="hair-removal-men-4">
        </div>
        <div class="service-hairRemMen-section-two-content-box">
            <div class="service-hairRemMen-section-two-central-box">
                <ul style="font-weight: bold;">
                    <li>Brazilian (private zone)</li>
                    <li>Bikini (pubic hair)</li>
                    <li>Half/ Full Face</li>
                    <li>Neck</li>
                    <li>Back</li>
                    <li>Chest</li>
                    <li>Stomach</li>
                    <li>Full/ Half Hands</li>
                    <li>Underarms</li>
                    <li>Full/ Half Legs</li>
                    <li>Full Body</li>
                </ul>
                <div class="service-hairRemMen-section-two-privacy-statement-box">
                    <span class="service-hairRemMen-section-two-privacy-statement-heading">Your Privacy Is Our Top Priority </span>
                    <span class="service-hairRemMen-section-two-privacy-statement-subHeading">Book your complimentary consultation today, where our professionals can determine the best treatment plan
                        for you skin and hair type
                    </span>
                </div>
            </div>
            <div  class="service-hairRemMen-section-two-right-box">
                <h4>Benefits of Laser Hair Removal</h4>
                <ul>
                    <li>No more shaving</li>
                    <li>No more ingrown hair</li>
                    <li>Reduced body odour</li>
                    <li>Increased physical appeal</li>
                    <li>Healthy looking skin</li>
                    <li>Quick & painless long-term solution</li>
                </ul>
                <div class="service-hairRemMen-section-two-right-img-box">
                    <img class="service-hairRemMen-section-two-content-img" src="assets/hair-removal-men-5.png" alt="hair-removal-men-5">
                    <div style="display:flex;flex-wrap: wrap;"></div>
                    <img class="service-hairRemMen-section-two-content-img" src="assets/hair-removal-men-6.png" alt="hair-removal-men-6">
                    <img class="service-hairRemMen-section-two-content-img" src="assets/hair-removal-men-7.png" alt="hair-removal-men-7">
                    <img class="service-hairRemMen-section-two-content-img" src="assets/hair-removal-men-8.png" alt="hair-removal-men-8">
                </div>
            </div>
        </div>
    </div>
        
</div>

<div class="service-hairRemMen-section-three">
    <h1>Laser Hair Removal Packages for Men</h1>

    <div class="service-hairRemMen-section-three-img-box">
        <img class="service-hairRemMen-section-three-content-img" src="assets/hair-removal-men-package-1.png" alt="hair-removal-men-package-1">
        <img class="service-hairRemMen-section-three-content-img" src="assets/hair-removal-men-package-2.png" alt="hair-removal-men-package-2">
        <img class="service-hairRemMen-section-three-content-img" src="assets/hair-removal-men-package-3.png" alt="hair-removal-men-package-3">
    </div>

    <div class="service-hairRemMen-section-three-text-box">
        <ul class="service-hairRemMen-section-three-list-column">
            <li>Includes 6 sessions</li>
            <li>1 hour each session</li>
            <li>Must shave 24h prior to your appointment</li>
            <li>Clean skin, no cream/ deodorant on treated area</li>
        </ul>
        <ul class="service-hairRemMen-section-three-list-column">
            <li>By appointment only</li>
            <li>Do NOT wax, pluck or thread hair between sessions</li>
            <li>4-5 weeks waiting time between each session</li>
            <li>No exchange/ refund</li>
        </ul>
    </div>

</div>

<div class="service-hairRemMen-section-four">

    <h1>Full Price List</h1>

    <div class="service-hairRemMen-section-four-main-text-box">
        <div class="service-hairRemMen-section-four-text-column">
            <h4>Small Area</h4>
            <ul>
                <li>Upper Lip - $40</li>
                <li>Sideburns - $40</li>
                <li>Fingers or toes - $40</li>
                <li>Chin - $40</li>
                <li>Cheeks - $40</li>
                <li>Stomach line - $40</li>
                <li>Breast - $40</li>
                <li>Package of 6 treatments (one from above) - $199</li>
            </ul>
        </div>

        <div class="service-hairRemMen-section-four-text-column">
            <h4>Medium Area</h4>
            <ul>
                <li>Half face - $65</li>
                <li>Under arms - $70</li>
                <li>Chest - $70</li>
                <li>Neck front & back - $60</li>
                <li>Half arms (below elbow) - $60</li>
                <li>Stomach - $70</li>
                <li>Half back - $60</li>
                <li>Package of 6 treatments (one from above) - $399</li>
                <li>Speedo line - $100</li>
                <li>Package of 6 treatments (Speedo line/ Public hair) - $499</li>
            </ul>
        </div>

        <div class="service-hairRemMen-section-four-text-column">
            <h4>Large Area</h4>
            <ul>
                <li>Full back with sides - $160</li>
                <li>Half legs - $100</li>
                <li>Full arms - $90</li>
                <li>Chest & amp; stomach - $160</li>
                <li>Full legs - $160</li>
                <li>Package of 6 treatments (one from above) - $780</li>
                <li>Package for 6 Brazilian - $799</li>
            </ul>
        </div>


    </div>

</div>
