
<div class="service-one-section">
    <h1 class="service-one-heading">Laser Removal of Permanent Makeup and Tattoo Removal</h1>
    <div class="service-one-container">

        <!-- <img src="assets/tattoo-removal-1.png" alt="eyeliner" style="width:200px;height:200px;"> -->

        <div class="service-one-sectionBox">
            <div class="service-one-listItemBox" style="">
                <h4 class="service-one-listItemHeading">Eyeliner</h4>
                <div class="service-one-listItemImg" style="background-image: url('/assets/tattoo-removal-1.png');"></div>
            </div>
            <div class="service-one-listItemBox" style="">
                <h4 class="service-one-listItemHeading">Eyebrows</h4>
                <div class="service-one-listItemImg" style="background-image: url('/assets/tattoo-removal-2.png');"></div>
            </div>
        </div>

        <div class="service-one-listItemBox" style="">
            <div class="service-one-listItemImg" style="background-image: url('/assets/tattoo-removal-3B.png');width:300px;height:600px;"></div>
        </div>

        <div class="service-one-sectionBox">
            <div class="service-one-listItemBox" style="">
                <h4 class="service-one-listItemHeading">Tattoo</h4>
                <div class="service-one-listItemImg" style="background-image: url('/assets/tattoo-removal-4.png');"></div>
            </div>
            <div class="service-one-listItemBox" style="">
                <h4 class="service-one-listItemHeading">Lips</h4>
                <div class="service-one-listItemImg" style="background-image: url('/assets/tattoo-removal-5.png');"></div>
            </div>
        </div>

    </div>
</div>
