
<div class="service-two-section">
    <!-- <h2>Service 2</h2> -->
    <!-- <p>Details about Service 2.</p> -->
    <div class="service-two-container">

        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">Location</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-contact-us.png');"></div>
        </div>

        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">Lips</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-lips.png');"></div>
        </div>

        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">Scar CoverUp</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-scar-coverup.png');"></div>
        </div>
        
        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">Book Now</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-lips.png');"></div>
        </div>
        
        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">EYEBROWS</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-eyebrows.png');"></div>
        </div>
        
        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">Areola</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-areola.png');"></div>
        </div>
        
        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">Eyeliner</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-eyeliner.png');"></div>
        </div>
        
        <div class="service-two-listItemBox">
            <h4 class="service-two-listItemHeading">Katherine</h4>
            <div class="service-two-listItemImg" style="background-image: url('/assets/pmu-about.png');"></div>
        </div>
        
    </div>
</div>
