
<div class="service-hairRemWomen-section-one">

    <div style="">
        <video autoplay muted loop class="service-hairRemWomen-section-one-background-video">
            <source src="assets/hair-removal-women-1.mp4" type="video/mp4">
        </video>
    </div>

    <div class="service-hairRemWomen-section-one-heading">
        <h1>Laser Hair Removal with Top of the Industry Diode Laser Technology</h1>
    </div>

</div>

<div class="service-hairRemWomen-section-two">

    <h2 class="service-hairRemWomen-section-two-main-heading">Permanent Full Body Laser Hair removal for Women</h2>

    <div class="service-hairRemWomen-section-two-container">
        <div class="service-hairRemWomen-section-two-left-content-box">
            <div class="service-hairRemWomen-section-two-left-text-box">
                <h2>How laser hair removal works?</h2>
                <p>Hair removal lasers target melanin pigment in the hair with specific wavelengths of light energy.</p>
                <p>The energy heats the hair quickly and powerfully then the heat spreads to the hair root, destroying it.</p>
            </div>
            
            <img class="service-hairRemWomen-section-two-content-img" src="assets/hair-removal-women-1.png" alt="hair-removal-men-3">
        </div>
        <div class="service-hairRemWomen-section-two-right-content-box">
            <img class="service-hairRemWomen-section-two-content-img" src="assets/hair-removal-women-section2-background.png" alt="hair-removal-men-3">
            <h2>How to prepare for session?</h2>
            <ul>
                <li>Shave 24 hours prior to procedure</li>
                <li>Do not wax, tweeze or sugar the area</li>
                <li>No cream, deodorant or makeup on the area of treatment</li>
                <li>No sauna or sunbathing 24 after the treatment</li>
            </ul>
        </div>
    </div>
    
</div>

<div class="service-hairRemWomen-section-three">
    <div class="service-hairRemWomen-section-three-left-content-box">

        <h1 class="service-hairRemWomen-section-three-main-heading">Full Price List</h1>
        <div class="service-hairRemWomen-section-three-text-container">
            <div class="service-hairRemWomen-section-three-text-box">
                <h3 class="service-hairRemWomen-section-three-prices-heading">Small Area</h3>
                <ul>
                    <li>Upper Lip - $20</li>
                    <li>Sideburns - $20</li>
                    <li>Fingers or toes - $20</li>
                    <li>Chin - $20</li>
                    <li>Cheeks - $20</li>
                    <li>Stomach line - $20</li>
                    <li>Areola - $20</li>
                    <li>Package of 6 treatments (one from above) - $89</li>
                </ul>
            </div>
            <div class="service-hairRemWomen-section-three-text-box">
                <h3 class="service-hairRemWomen-section-three-prices-heading">Medium Area</h3>
                <ul>
                    <li>Half face - $45</li>
                    <li>Under arms - $35</li>
                    <li>Bikini line - $45</li>
                    <li>Chest - $45</li>
                    <li>Neck front &amp; back - $45</li>
                    <li>Half arms (below elbow) - $45</li>
                    <li>Stomach - $45</li>
                    <li>Half back - $45</li>
                    <li>Package of 6 treatments (one from above) - $129</li>
                </ul>
            </div>
            <div class="service-hairRemWomen-section-three-text-box">
                <h3 class="service-hairRemWomen-section-three-prices-heading">Large Area</h3>
                <ul>
                    <li>Full back with sides - $80</li>
                    <li>Half legs - $80</li>
                    <li>Full arms - $80</li>
                    <li>Chest & amp, stomach - $80</li>
                    <li>Package of 6 treatments (one from above) - $429</li>
                    <li>Full legs - $100</li>
                    <li>Package for 6 Brazilian - $399</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="service-hairRemWomen-section-three-right-content-box"></div>
    
</div>

<div class="service-hairRemWomen-section-four">

    <h1 class="service-hairRemWomen-section-four-main-heading">Laser Hair Removal Packages for Women</h1>
    
    <div class="service-hairRemWomen-section-four-img-box">
        <img class="service-hairRemWomen-section-four-content-img" src="assets/hair-removal-women-package-1.png" alt="hair-removal-women-package-1">
        <img class="service-hairRemWomen-section-four-content-img" src="assets/hair-removal-women-package-2.png" alt="hair-removal-women-package-2">
        <img class="service-hairRemWomen-section-four-content-img" src="assets/hair-removal-women-package-3.png" alt="hair-removal-women-package-3">
    </div>

    <div class="service-hairRemWomen-section-four-text-box">

        <ul class="service-hairRemWomen-section-four-list-column">
            <li>Includes 6 sessions</li>
            <li>1 hour each session</li>
            <li>Must shave 24h prior to your appointment</li>
            <li>Clean skin, no cream/ deodorant on treated area</li>
        </ul>

        <ul class="service-hairRemWomen-section-four-list-column">
            <li>By appointment only</li>
            <li>Do NOT wax, pluck or thread hair between sessions</li>
            <li>4-5 weeks waiting time between each session</li>
            <li>No exchange/ refund</li>
        </ul>

    </div>

</div>
